div{
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}
/* default
.static{

} */
/* Pos. Relatiu - Es posiciona en relacio a la posicionament original */
.relative{
    position: relative;
    left: 80px;
    margin-left: 10px;
}
    /* Pos. Fixe- Es posiciona en relacio a la pantalla */
.fixed{
    position: fixed;
    bottom: 30px;
    left: 20px;
    background-color: yellow;
    z-index: 2;
}
   /* Pos. Absolut Es posiciona en relacio a l'element ancestre */
.absolute{
    position: absolute;
    bottom:30px;
    right: 0px;
}
.relative.container{
    width: 300px;
    height: 400px;
    background-color: blue;
}
    /* Pos. Sticky En fer scroll modifica el seu posicionament relative-fixed*/
.sticky{
    position: sticky;
    background-color: darksalmon;
    color: white;
    top:0px;
    z-index: 2;
}