.rectangle{
    background-color: rgb(83, 168, 168);
    color: white;
}

.rectangle80{
    background-color: rgb(83, 168, 168);
    color: white;
    opacity: 0.8;
}
.rectangle60{
    background-color: rgb(83, 168, 168);
    color: white;
    opacity: 0.6;
}