@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';


$spacer: 1rem !default;

$custom-spacers: (
    6: $spacer * 3.25,
    7: $spacer * 3.5,
    8: $spacer * 3.75,
    9: $spacer * 4,
    10: $spacer * 4.25,
    11: $spacer * 4.50,
    12: $spacer * 4.75,
    13: $spacer * 5,
    14: $spacer * 5.25,
    15: $spacer * 5.50,
) !default;

$spacers: map-merge($spacers, $custom-spacers);

@import '../node_modules/bootstrap/scss/bootstrap';