@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap'); */
html {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Pixelify Sans', cursive;
    font-size: larger;
    font-weight: 400;
    font-style: italic;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}